/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-size: 18px;
	line-height: 2;
  background: #fff url(images/instagram-pic.jpg) no-repeat top center;
  background-color: #FFFFFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  background-color: #333333;
  float: left;
  position: fixed;
  width: 100%;
  color: #FFFFFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:bold;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

figcaption {
  color: #3f3f3f;
  font-size: .8em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:bold;
  content: "\A";
}

h1 {
  color: #3f3f3f;
  font-size: 2.2em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: .2em auto .2em;
}

h3 {
  color: #3f3f3f;
  font-size: 1.2em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  	line-height: 1.5;
}

p {
  color: #3f3f3f;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  content: "\A";
  margin: 1em auto 2em;
}


p.author {
  color: #3f3f3f;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-transform: uppercase;
  content: "\A";
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: underline;
}
